#search-panel {
    display: flex;
    flex-direction: column;

    border-top: 0.0625rem solid #202020;

    height: 6.875rem;

    overflow: hidden;

    transition: height .2s;
}
#search-panel.open {
    height: 22.5rem;
}


#search-bar {
    position: relative;
    
    width: 100%;
    height: 6.875rem;

    padding: 1.875rem 1.875rem;
}
#search-bar input {
    width: 100%;
    height: 3.125rem;

    padding-left: 3.125rem;
    font-size: 1rem;
    /* font-weight: 450; */
}
#search-bar img {
    position: absolute;
    top: 50%;
    left: calc(1.875rem + 0.9375rem);
    transform: translateY(-50%);

    width: auto;
    height: 1.25rem;
}


#search-results-container {
    width: 100%;
    height: 100%;

    overflow-y: auto;

    padding: 0rem .9375rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: fit-content;

    margin-top: .625rem;
}


.not-found {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: fit-content;

    margin-top: .625rem;

    color: #505050;
    font-size: .9375rem;
    font-weight: 500;
}